<a href="https://colab.research.google.com/github/23r91a7334-a11y/anvesh/blob/main/datapreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Sample data set
data = {
'Age': [25, 27, np.nan, 100, 80, 27],
'Salary': [50000, 52000, 51000, 50500, 58000, 58000],
'City': ['A', 'B', 'B', 'A', 'A', 'A']
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# 1. Handling Missing Values
df['Age'] = df['Age'].fillna(df['Age'].mean())
print("\nAfter handling missing values:")
print(df)

# 2. Noise Detection (Remaining outliers)
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

df = df[(df['Age'] >= lower_limit) & (df['Age'] <= upper_limit)]

print("\nAfter detection (outliers removal):")
print(df)

# 3. Identifying & removal Data redundancy (Duplicate)
df = df.drop_duplicates()

print("\nAfter removing Redundant (Duplicate) Records:")
print(df)

Original Data:
     Age  Salary City
0   25.0   50000    A
1   27.0   52000    B
2    NaN   51000    B
3  100.0   50500    A
4   80.0   58000    A
5   27.0   58000    A

After handling missing values:
     Age  Salary City
0   25.0   50000    A
1   27.0   52000    B
2   51.8   51000    B
3  100.0   50500    A
4   80.0   58000    A
5   27.0   58000    A

After detection (outliers removal):
     Age  Salary City
0   25.0   50000    A
1   27.0   52000    B
2   51.8   51000    B
3  100.0   50500    A
4   80.0   58000    A
5   27.0   58000    A

After removing Redundant (Duplicate) Records:
     Age  Salary City
0   25.0   50000    A
1   27.0   52000    B
2   51.8   51000    B
3  100.0   50500    A
4   80.0   58000    A
5   27.0   58000    A